*.o 
*.so 
*.pyc
a.out 
sparray.egg-info/
build/
docs/_build/
/sparray/SparseMatrixExtTest
/dist/
/MANIFEST
/sparray/test/SparseMatrixExtTest
/sparray/*.so
/sparray/*.cpp
/sparray/*.pyo
/sparray/csarray_sub.pyx
